<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Registro</h1>
            <hr>

            <form action="/registro" method="POST">

                <div class="mb-3">
                    <label for="nameInput" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nameInput" name="name">
                </div>

                <div class="mb-3">
                    <label for="lastnameInput" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastnameInput" name="lastname">
                </div>

                <div class="mb-3">
                    <label for="countryInput" class="form-label">País</label>
                    <input type="text" class="form-control" id="countryInput" name="country">
                </div>


                <div class="mb-3">
                    <label for="emailInput" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="emailInput" name="email">
                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">
                </div>

                <div class="mb-3">
                    <label for="pwdInput" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="pwdInput" name="userPwd">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary block">Completar registro</button>
                </div>

            </form>
        </div>
    </div>

</div>