<div class="container search-container">
  <div class="row justify-content-center">

    <center>
      <form action="/playa/buscar/resultados" method="POST">
        <label for="name"></label>
        <input
          id="name"
          type="text"
          name="name"
          value=""
          placeholder="Nombre"
          size="31"
          maxlength="255"
        />

        <label for="provincia"></label>
        <input
          id="provincia"
          type="text"
          name="provincia"
          value=""
          placeholder="provincia"
          size="31"
          maxlength="255"
        />

        <!--
        <label for="surf"></label>
        <select>
          <option value="yes">Surf</option>
          <option value="yes">Sí</option>
          <option value="no">No</option>

        </select>
        -->

        <br />
        <br />
        <input type="submit" value="Búsqueda" />
      </form>
    </center>

    <img src="./images/turtle.png" class="image-turtle" />
  </div>
</div>