<div class="container search-container">
  
  <div class="row justify-content-center">
    <img src="./images/turtle.png" class="image-turtle" />

    <center>
      <form action="/playa/buscar/resultados" method="POST">
        <label for="search"></label>
        <input
          id="search"
          type="text"
          name="search"
          value=""
          placeholder="Busca lo que quieras"
        />

        <br />
        <input type="submit" value="Go" />
      </form>
    </center>

  </div>
</div>