<div class="container">
  <div class="row justify-content-center">

    <form id="form" class="search-form">
      <input type="search" id="query" name="q" placeholder="¿Qué playa?" />
      <button class="button-search">Búsqueda</button>
    </form>
    <img src="./images/turtle.png" class="image-turtle" class="img-fluid" />
  </div>
</div>