<div class="container byebye">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <img src="./images/pixel-speech-bubble.gif" class="bye-gif" />

    <img src="./images/samil.png" class="samil" />

  </div>

</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/turtle.png" class="footer-turtle" />
      </div>
      <div class="col-sm-4">
        <b>Creado por</b>
        <br />
        Ernesto Espinoza
        <br />
        Estefanía Lamas
      </div>
      <div class="col-sm-4">
        <b>Contacto</b>
        <br />
        tortuga@gmail.com
        <br />
        Ironhack, Madrid
      </div>
    </div>
  </div>
</footer>