<div class="container byebye">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <img src="./images/pixel-speech-bubble.gif" class="bye-gif" />

    <img src="./images/samil.png" class="samil" />

  </div>

</div>