body {
 font-family: 'Work Sans', sans-serif;
 background-image: url("/images/gradient.jpg");
 background-size: cover;
}

nav {
  margin-bottom:  30px;
}


.byebye {
  font-weight: bold;
  font-size: 2em;
}



.bye-gif {
  width: 20%;
  height: 20%;
  margin-top: 10%;
}

.image-turtle {
  width: auto;
  height: auto;
  opacity: 50%;
}

#myMap {
  height: 500px;
  width: 1300px;
  background-color: red;
}

.users-card {
  background-color: transparent;
}

.beach-list {
  list-style: none;
}

#geometry-y, #geometry-x {
  display: none;
}
 
.beach-list li a {
  text-decoration: none;
  color:black;
}



/*COMPONENTS*/

.next-button {
  margin-left: 2.5%;
  margin-top: 2%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.next-button:hover {
  color: fuchsia;
}

.search-button {
  background-color: transparent;
}


footer {
  padding-top: 2%;
  background-color: rgba(255, 255, 255, 0.767);
}

.beach-info {
  background-color: rgba(255, 255, 255, 0.418);
}
.beach-info2 {
  background-color: rgba(255, 255, 255, 0.418);
}
