body {
 font-family: 'Work Sans', sans-serif;
 background-image: url("/images/gradient.jpg");
 background-size: cover;
}

nav {
  margin-bottom:  30px;
}

.byebye {
  font-weight: bold;
  font-size: 2em;
}

.search-form {
  text-align: center;
}