body {
 font-family: 'Work Sans', sans-serif;
 background-image: url("/images/gradient.jpg");
 background-size: cover;
}

nav {
  margin-bottom:  30px;
}

.byebye {
  font-weight: bold;
  font-size: 2em;
}

.search-form {
  text-align: center;
  border-radius: 5px;
  position:relative;
  z-index: -1;
}

.bye-gif {
  width: 20%;
  height: 20%;
  margin-top: 10%;
}

.button-search {
  background-color: transparent;
 margin-left: 1%;
 margin-right: 1%;
  
}

.image-turtle {
  width: auto;
  height: auto;
  opacity: 50%;
}

#myMap {
  height: 500px;
  width: 800px;
  background-color: red;
}

.users-card {
  background-color: transparent;
}

.delete-button {
  background-color: transparent;
}
