<div class="container">
  <h3><img src="../images/palmtree.png" class="palmtree" />
    Listado de playas</h3>
  <hr />

  <ul class="beach-list">
    {{#each beach}}
      <li><a
          href="/playa/detalles/{{attributes.Identifica}}"
        >{{attributes.Nombre}}</a></li>
    {{/each}}
  </ul>

  <a href="/playa/listado?pagina={{previousPage}}" class="next-button">Atrás</a>
  <a href="/playa/listado?pagina={{nextPage}}" class="next-button">Siguiente</a>

</div>