<div class="container">
  <h2>Listado de playas {{beach.Nombre}}</h2>
  <hr>

  <ol>
    {{#each beach}}
    <li><a href="/playa/detalles/{{attributes.Identifica}}">{{attributes.Nombre}}</a></li>
    {{/each}}
  </ol>



</div>