<div class="container">
  <h3><img src="../images/palmtree.png" class="palmtree" />
    Listado de playas</h3>

  <div class="row">

    <div class="col-md-6 beach-list-col">

      <ul class="beach-list">
        {{! <img src="../images/illustration.jpeg" class="fotoplaya" /> }}
        <br />
        {{#each beach}}
          <li><a
              href="/playa/detalles/{{attributes.Identifica}}"
            >{{attributes.Nombre}}</a></li>
        {{/each}}
      </ul>

      <a
        href="/playa/listado?pagina={{previousPage}}"
        class="next-button"
      >Atrás</a>
      <a
        href="/playa/listado?pagina={{nextPage}}"
        class="next-button"
      >Siguiente</a>
    </div>
    <div class="col-md-6">
      <img src="../images/illustration.jpeg" class="fotoplaya" />
    </div>
    {{! <div class="col-md-6">
        <img src="../images/illustration.jpeg" class="fotoplaya" />
      </div> }}

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/turtle.png" class="footer-turtle" />
      </div>
      <div class="col-sm-4">
        <b>Creado por</b>
        <br />
        Ernesto Espinoza
        <br />
        Estefanía Lamas
      </div>
      <div class="col-sm-4">
        <b>Contacto</b>
        <br />
        tortuga@gmail.com
        <br />
        Ironhack, Madrid
      </div>
    </div>
  </div>
</footer>